<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cientifica.papeleta.mappers.EmpleadoMapper">
	<resultMap id="empleadoResultMap" extends="edu.cientifica.papeleta.mappers.PersonaMapper.personaResultMap"
		type="edu.cientifica.papeleta.model.Empleado">
		<result column="fecha_ingreso" property="fechaIngreso" />
		<result column="id_tipo_empleado" property="tipoEmpleado" />
		<association column="id_area" property="area" javaType="edu.cientifica.papeleta.model.Area"
			resultMap="edu.cientifica.papeleta.mappers.AreaMapper.areaResultMap" />
	</resultMap>
	
	<select id="listaEmpleado" resultMap="empleadoResultMap">
		Select
		<include refid="edu.cientifica.papeleta.mappers.PersonaMapper.camposPersona"/>,
		<include refid="edu.cientifica.papeleta.mappers.EmpleadoMapper.camposEmpleado" />,
		<include refid="edu.cientifica.papeleta.mappers.AreaMapper.camposArea"/>
		From empleado e
		Inner Join persona p
		On e.id_empleado = p.id_persona
		Left Join area a
		On e.id_area = a.id_area
	</select>
	
	<select id="empleadoById" resultMap="empleadoResultMap">
		Select
		<include refid="edu.cientifica.papeleta.mappers.PersonaMapper.camposPersona" />,
		<include refid="edu.cientifica.papeleta.mappers.EmpleadoMapper.camposEmpleado" />,
		<include refid="edu.cientifica.papeleta.mappers.AreaMapper.camposArea"/>
		From empleado e
		Inner Join persona p
		On e.id_empleado = p.id_persona
		Left Join area a
    On e.id_area = a.id_area
		Where
		e.id_empleado = #{id}
	</select>
	<select id="listaEmpleadosByArea" resultMap="empleadoResultMap">
	  Select
    <include refid="edu.cientifica.papeleta.mappers.PersonaMapper.camposPersona" />,
    <include refid="edu.cientifica.papeleta.mappers.EmpleadoMapper.camposEmpleado" />,
    <include refid="edu.cientifica.papeleta.mappers.AreaMapper.camposArea"/>
    From empleado e
    Inner Join persona p
    On e.id_empleado = p.id_persona
    Left Join area a
    On e.id_area = a.id_area
    <where>
      <if test="idArea!=0">
        e.id_area = #{idArea}
      </if>
    </where>
    
	</select>
	<insert id="insertarEmpleado" parameterType="edu.cientifica.papeleta.model.Empleado">
	   INSERT INTO empleado (id_empleado, id_area, fecha_ingreso, id_tipo_empleado, id_tipo_contrato, id_estado) 
	   VALUES (#{idPersona},#{area.idArea}, #{fechaIngreso}, #{tipoEmpleado}, 1, 1);
	</insert>
	<update id="actualizarEmpleado" parameterType="edu.cientifica.papeleta.model.Empleado">
	 UPDATE empleado
    SET
      id_tipo_empleado = #{tipoEmpleado},
		  id_area = #{area.idArea},
		  fecha_ingreso = #{fechaIngreso}
		WHERE id_empleado = #{idPersona}
	</update>
	
	
	<sql id="camposEmpleado">
		e.fecha_ingreso,
		e.id_tipo_empleado,
		e.id_area
	</sql>
	
</mapper>