<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cientifica.papeleta.mappers.PersonaMapper">
	<resultMap type="edu.cientifica.papeleta.model.Persona" id="personaResultMap">
		<id column="id_persona" property="idPersona" />
		<result column="num_doc" property="numeroDocumento" />
		<result column="nombre" property="nombres" />
		<result column="apellido_1" property="primerApellido" />
		<result column="apellido_2" property="segundoApellido" />
		<result column="fecha_nacimiento" property="fechaNacimiento" />
		<result column="id_genero" property="genero" />
	</resultMap>
	<select id="listarPersonas" resultMap="personaResultMap">
		Select
		  p.id_persona,
		  p.num_doc,
		  p.nombre,
		  p.apellido_1,
		  p.apellido_2,
		  p.fecha_nacimiento,
		  p.id_genero
		From persona p
	</select>
	
	<sql id="camposPersona">
	   p.id_persona,
     p.num_doc,
     p.nombre,
     p.apellido_1,
     p.apellido_2,
     p.fecha_nacimiento,
     p.id_genero
	</sql>
	<insert id="insertarPersona" parameterType="edu.cientifica.papeleta.model.Persona">
	   INSERT INTO persona (id_persona, id_tipo_doc, num_doc, nombre, apellido_1, apellido_2,  fecha_nacimiento, id_genero)
	   VALUES (#{idPersona}, 1 ,#{numeroDocumento}, #{nombres}, #{primerApellido}, #{segundoApellido}, #{fechaNacimiento}, #{genero})
	</insert>
	<select id="nuevoIdPersona">
   select IFNULL(max(id_persona), 0)+1  nuevoIdPersona from persona
  </select>
  <update id="actualizarPersona" parameterType="edu.cientifica.papeleta.model.Persona">
    UPDATE persona
			SET
			nombre = #{nombres} ,
			apellido_1 = #{primerApellido},
			apellido_2 = #{segundoApellido},
			id_tipo_doc = 1,
			num_doc =#{numeroDocumento},
			id_genero = #{genero},
			fecha_nacimiento = #{fechaNacimiento}
		WHERE id_persona = #{idPersona}
  </update>
	
</mapper>
