<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <div th:replace="/layout :: header"></div>
    <title>Principal</title>
</head>

<body>
  <div id="contenedor">
    <div id="cabecera" th:include ="/layout :: cabecera">
    </div>
    
    <div id="filainfo" th:include ="/layout :: filainfo">
    </div>
    
    <div class="fila">
      <div class="menu" th:include ="/layout :: menu">
      </div>
      
      <div class="main">
				<a href="#" th:href="@{/motivo/form}" class="btn btn-success">
					<i class="fa fa-plus" aria-hidden="true"></i> Nuevo Motivo
				</a>
				<form th:action="@{/motivo/lista}" method="POST" id="Search_form" class="form-horizontal">
              <input type="hidden" name="pageNum" id="idPageNum" th:value="${pageInfo.pageNum}" />
        </form>
				<table class="table table-light">
					<thead class="thead-light">
						<tr>
							<th>Id</th>
							<th>Descripcion</th>
							<th>Accion</th>
					
						</tr>
					</thead>

					<tbody>
						<tr th:if="${motivos.empty}">
							<td>No existen resultados</td>
						</tr>
						<tr th:each="motivo: ${motivos}">
							<td>
								<span th:text="${motivo.idMotivo}">Codigo</span>
							</td>
							<td>
								<span th:text="${motivo.descripcion}">Descripcion</span>
							</td>
							<td>
								<a href="#" th:href="@{'/motivo/editar/'+${motivo.idMotivo}}">
									<i class="fa fa-pencil-square" aria-hidden="true"></i> Edit
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation">
          <ul class="pagination pull-right">

            <li th:class="${pageInfo.isFirstPage} ? 'disabled'"><a class="page-link" href="javascript:void(0)"
                th:onclick="${!pageInfo.isFirstPage} ? 'doSearch(1);'">Inicio</a></li>

            <li th:class=" ${pageInfo.isFirstPage} ? 'disabled'"><a class="page-link" href="javascript:void(0)"
                th:onclick="${!pageInfo.isFirstPage} ? 'doSearch(' + ${pageInfo.prePage} + ');'">Anterior</a></li>

            <li th:each="page : ${pageInfo.navigatepageNums}" th:class="${page == pageInfo.pageNum} ? 'active'"><a
                class="page-link" href="javascript:void(0)" th:text="${page}" th:onclick="'doSearch(' + ${page} + ');'"></a></li>

            <li th:class=" ${pageInfo.isLastPage} ? 'disabled'"><a class="page-link" href="javascript:void(0)"
                th:onclick="${!pageInfo.isLastPage} ? 'doSearch(' + ${pageInfo.nextPage} + ');'">Siguiente</a></li>

            <li th:class=" ${pageInfo.isLastPage} ? 'disabled'"><a class="page-link" href="javascript:void(0)"
                th:onclick="${!pageInfo.isLastPage} ? 'doSearch(' + ${pageInfo.pages} + ');'">Último</a></li>

            <li><input type="number" class="input change-page-num" style="width: 50px; margin: 0px;"
                th:value="${pageInfo.pageNum}" id="idTextIr" /></li>
            <li>
              <button class="btn btn-info" type="button" th:onclick="'doSearch($(\'#idTextIr\').val())'">Ir</button>
            </li>
          </ul>
        </nav>
			</div>
		</div>
		<div id="pie">© copyright Universidad Cientifica del Sur</div>
	</div>
	<script>
    function doSearch(pageNum) {
      $("#idPageNum").val(pageNum);
      $("#Search_form").submit();
    }
  </script>
	</body>
</html>


