<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<div th:replace="/layout :: header"></div>
<title>Usuario</title>
</head>

<body>
	<div id="contenedor">
		<div id="cabecera" th:include="/layout :: cabecera"></div>
		<div id="filainfo" th:include="/layout :: filainfo-userpasschng"></div>
		<div id="mensajes" th:include="/layout :: mensajes"></div>
		<div class="fila">
			<div class="menu" th:include="/layout :: menu"></div>
			<div class="main">
				<form id="formChangePassword" th:object="${passwordForm}" th:action="@{/usuario/actualizarPassword}"
					th:method="POST" class="form">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<label for="passwordActual">Password Actual: </label>
							</div>
							<div class="col-7">
								<input type="password" id="passwordAnterior" name="passwordAnterior" class="form-control"
									th:field=*{currentPassword}>
							</div>
						</div>

						<div class="row">
							<div class="col-3">
								<label for="passwordNuevo">Nuevo Password: </label>
							</div>
							<div class="col-7">
								<input type="password" id="passwordNuevo" name="passwordNuevo" class="form-control" 
								th:field=*{newPassword}>
							</div>
						</div>

						<div class="row">
							<div class="col-3">
								<label for="passwordConfirmado">Confirmar Password: </label>
							</div>
							<div class="col-7">
								<input type="password" id="passwordConfirmado" name="passwordConfirmado" class="form-control"
									th:field=*{confirmPassword}>
							</div>
						</div>
						<div class="row">
							<div class="col-3">
								<input type="submit" value="Actualizar" class="btn btn-success btn-block">
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Fin main -->
		</div>
		<!-- Fin fila -->
		<div id="pie">© copyright Universidad Cientifica del Sur</div>
	</div>
	<!-- Fin contenedor -->
</body>
</html>